.placeHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 60px;
    text-align: center;
}

.addBook {
    background-color: blue;
    color: white;
    font-size: 15px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    margin:20px 0px 20px 20px
}

input {
    font-size: 20px;
    width: 250px;
    height: 30px;
    margin-left: 30px;
    padding-top: 5px;
    text-align: center;
    border-radius: 15px;
}

button {
    width: 150px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: blue;
    font-size: 13px;
    color: white;
    font-weight: bold;
    margin: 30px;
}


::placeholder {
    font-size: 20px;
    color: rgb(107, 106, 106);
}

#myForm > p {
    font-size: 20px;
    margin-left: 30px;
    display: flex;
}

#status {
    width: 50px;
    height: 40px;
    border: solid black 2px;
    background-color: white;
    margin:10px;
    position: relative;
    bottom: 5px;
}

label {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    bottom: 50px;
    left: 60px;
}
